@import './styles/color';

html {
	height: 100%;
	background-color: $secondary;

	main {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

body {
	height: 100%;
	margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}